<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
    <session-factory>
        
        <!-- JDBC database connection settings -->
        <property name="hibernate.connection.driver.class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:5222/boutiquealma</property>
        <property name="hibernate.connection.user">root</property>
        <property name="hibernate.connection.password">123456</property>
        
        <!-- JDBC connection pool settings ... using build-in test pool -->
        <property name="hibernate.connection.pool_size">1</property>
        
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        
		<!-- Hibernate does not Scan for annotated classes at startup they have to be added manually -->
        <mapping class="com.boutique.infra.hibernate.model.Categorie"/>
        <mapping class="com.boutique.infra.hibernate.model.Produit"/>
        
    </session-factory>
    
    
</hibernate-configuration>